/* Base styles */
body {
  background-color: rgb(57, 73, 83);
  height: 100%;
  margin: 0;
  line-height: 1.4;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

// h1 {
//   font-size: 6rem;
// }
// h2 {
//   font-size: 4rem;
// }


  #welcome-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(96, 233, 221);
    align-items: center;
    justify-content: center;
    overflow: auto;
    height: 100vh;
    width: 100%;
  }

  #projects {
    align-items: center;
    padding: 1rem;
    background-color: rgb(57, 73, 83);
  }

  .projects-section-header {
    text-align: center;
    font-size: 1.5em;
    color: white;
  }

  #projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1440px;
    background-color: rgb(57, 73, 83);
    padding-bottom: 2em;
    a:link { 
      text-decoration: none;
    }
    #project-tile {
      display: block;
      background-color: darkgreen;
    }
  }

  @media screen and (max-width: 500px) {
    .projects {
      padding: 5rem 1rem;
    }

    .projects-container {
      grid-template-columns: 1fr;
    }
  }


  #navbar {
    display: flex;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: rgb(226, 128, 63);
    z-index: 10;
  }

  @media screen and (max-width: 900px) {
    #nav {
      justify-content: flex-start;
    }
    html {
      font-size: 60%;
    }
  }

  .nav-link {
    list-style-type: none;
    padding-right: 1em;
    font-size: 1.5rem;
    a {
        display: block;
        text-decoration: none;
      }
  }
      a:hover {
        background-color: grey;
      }


  button {
    display: inline-block;
    border: none;
    padding-left: 1.5em;
    margin: auto;
    background: none;
    font-size: 1em;
    text-align: center;
    color: white;
  }

  .project-image {
    // display: block;
    min-height: calc(100% - 8rem);
    width: 100%;
    object-fit: cover;
    // text-decoration: none;
  }

  .project-title {
    color: white;
    text-align: center;
  
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 1.2em;
    color: white;
    background:rgba(0, 0, 0, 0.4)
  }